# Security Headers
<IfModule mod_headers.c>
Header set Developed-By "Rafael De Jongh"
Header set Content-Security-Policy "img-src 'self' https: data: blob:; font-src 'self' https: data:;"
Header set X-Frame-Options "SAMEORIGIN"
Header set X-XSS-Protection "1; mode=block"
Header set Referrer-Policy "no-referrer-when-downgrade"
Header set Expect-CT max-age=86400,enforce
Header always edit Set-Cookie (.*) "$1;HttpOnly;Secure"
#Added via CloudFlare
Header set X-Content-Type-Options nosniff
Header set Strict-Transport-Security "max-age=15552000; includeSubDomains; preload"
</IfModule>
